div.wpzap-floating-button {
	display: block;
	position: fixed;
	z-index: 9999;
}

div.wpzap-floating-button-bottom-right {
	bottom: 15px;
	right: 15px;
}

div.wpzap-floating-button-top-right {
	top: 15px;
	right: 15px;
}

div.wpzap-floating-button-bottom-left {
	bottom: 15px;
	left: 15px;
}

div.wpzap-floating-button-top-left {
	top: 15px;
	left: 15px;		
}

div.wpzap-floating-button a {
	outline: none;
}

div.wpzap-floating-button:hover {
	opacity: 0.8;
}